{% set account = app.session.get('account') %}
{% extends 'base.html.twig' %}
{% block title %}Profil | Etufit{% endblock %}
{% block stylesheets %}
<style>
    .btn-delete {
        font-size: 0.75rem;
        margin-bottom: 0;
    }
    .ub-back-opacity {
        background-color: white;
    }
    .card{
        margin: 0 auto;
        margin-top: 5vh;
    }

    .page-footer{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
    }

    @media screen and (max-width: 600px)
    {
        .card .row{
            display: flex;
            flex-direction: column;
        }
        .btn {
            margin: .3rem auto;
        }
    }
</style>
{% endblock %}
{% block body %}
    <div class="container valign-wrapper">
        <div class="card z-depth-4 ub-small-padding">
            <button id="deleteAccount" class="btn-flat btn-delete red_color">Supprimer le compte</button>
            <div id="deleteView"></div>
            <div class="card-content">
                <ul class="collection with-header">
                    <li class="collection-header ub-text-orange">Mon profil</li>
                    <li class="collection-item">Status :
                        <span class="ub-text-orange">{% if account.status == 3 %}
                            Administrateur
                        {% elseif account.status == 2 %}
                            Référent
                        {% else %}
                            Utilisateur
                        {% endif %}</span>
                    </li>
                    <li class="collection-item">Nom : <span class="ub-text-orange">{{ account.name }}</span></li>
                    <li class="collection-item">N° d'étudiant : <span class="ub-text-orange">{{ account.studentId }}</span></li>
                    <li class="collection-item">Adresse email : <span class="ub-text-orange">{{ account.email }}</span></li>
                    <li class="collection-item">
                        <a href="{{ path('changePassword') }}" class="waves-effect waves-light ub-small-text">
                                Changer de mot de passe</a>
                    </li>
                </ul>
                <div class="row">
                    <a href="{{ path('calendar') }}" class="waves-effect waves-light btn ub-orange ub-small-text flow-text "><i class="tiny material-icons "></i>calendrier</a>
                    <a href="{{ path('myReservations') }}" class="waves-effect waves-light btn ub-orange ub-small-text flow-text"><i class="tiny material-icons "></i>réservation</a>
                </div>
            </div>
        </div>
    </div>

    <!-- modal to confirm -->
    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <div id="modal_close" class="modal-close">
                <i class="material-icons small circle right" id="close_icon">close</i>
            </div>
            <h4>Attention</h4>
            <p>Êtes-vous sur de vouloir supprimer votre compte ? Cette action est irréversible</p>
            <button id="confirm_delete" class="btn valid_green">Oui</button>
            <button id="cancel_delete" class="btn invalid_red">Non</button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(function () {
            $('#deleteAccount').on('click', function () {
                $('#delete-modal').modal('open');
                    $('#confirm_delete').click(function(){

                        $('#delete-modal').modal('close');
                        $.post("{{ url('profilDeleteProfil') }}", function (data) {
                            if (data.success_delete_user) {
                                $('#deleteView').text('Compte supprimé')
                            } else {
                                if (data.errors.user_undefined) {
                                    $('#deleteView').text('Utilisateur inconnu')
                                }
                            }
                            if (data.success_delete_user) {
                                setTimeout(function () {
                                    if (data.redirect) {
                                        window.location.replace(data.redirect);
                                    }
                                }, 1500)
                            }
                        })
                    })

                    $('#cancel_delete').one('click', function(){
                        $('#delete-modal').modal('close');
                        $('#confirm_delete').off('click');
                    })

                    $('#modal_close').on('click', function(){
                        $('#confirm_delete').off('click');
                    })
            })
        });
    </script>
{% endblock %}